<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer" />
    <title>{{ nickname }}</title>
    <script src="https://unpkg.com/autolinker@4.0.0/dist/autolinker.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css" />
    <style>
        .ocr {
            line-height: 1.1;
            opacity: 0.75;
        }

        img {
            max-width: 200px;
            max-height: 200px;
        }
    </style>
</head>

<body class="container">
    <h1>
        <a href="https://user.qzone.qq.com/{{ uin }}/311" target="_blank">{{ nickname }}</a> - {{ year }}年
    </h1>
    {% if year == year_now %}
    <p>
        最后更新： <time datetime="{{ time }}" id="lastUpdate">{{ time }}</time>
    </p>
    {% endif %}
    <div id="messages">
        <ul>
            {% for message in messages %}
            <li id="message-{{ message['tid'] }}">
                <div class="messageId">
                    <a href="https://h5.qzone.qq.com/ugc/share?appid=311&res_uin={{ uin }}&cellid={{ message['tid'] }}"
                        target="_blank">
                        #{{ message['tid'] }}
                    </a>
                    <time data-time="{{ message.ctime }}">{{ message.ctime | datetime_fromtimestamp
                        }}</time>
                </div>
                {% if message['content'] %}
                <div class="messageContent">{{ message['content']|nl2br|safe }}</div>
                {% endif %}
                {% for picture in message['pictures'] %}
                <a href="{{ picture }}" target="_blank"><img src="{{ picture }}" loading="lazy" /></a>
                {% endfor %}
                {% for video_thumbnail in message['video_thumbnails'] %}
                <a href="https://h5.qzone.qq.com/ugc/share?appid=311&res_uin={{ uin }}&cellid={{ message['tid'] }}"
                    target="_blank"><img src="{{ video_thumbnail }}" loading="lazy" /></a>
                {% endfor %}
                {% if message['ocr'] %}
                <div class="ocr">
                    <small><b>OCR</b>: {{ message['ocr']|nl2br|safe }}</small>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <script>
        const time = document.getElementById("lastUpdate");
        time.innerText = `${new Date(time.innerText).toLocaleString()} (${Intl.DateTimeFormat().resolvedOptions().timeZone
            })`;

        function updateTime(time) {
            time.innerText = new Date(time.dataset.time * 1000).toLocaleString();
        }

        const timeObserver = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    const time = entry.target;
                    updateTime(time);
                    time.classList.add("updated");
                    timeObserver.unobserve(time);
                }
            });
        });

        function observeNewTime() {
            const timeTags = document.querySelectorAll(`time:not([id="lastUpdate"]):not(.updated)`);

            timeTags.forEach(time => {
                timeObserver.observe(time);
            });
        }

        var autolinker = new Autolinker({
            urls: {
                schemeMatches: true,
                tldMatches: true,
                ipV4Matches: true,
            },
            email: true,
            phone: true,
            mention: false,
            hashtag: false,

            stripPrefix: false,
            stripTrailingSlash: true,
            newWindow: true,

            truncate: {
                length: 0,
                location: "smart",
            },

            className: "",
        });

        function linkify(node) {
            const nodes = [...node.childNodes];
            for (var n of nodes) {
                if (n.nodeType == n.TEXT_NODE) {
                    const newText = autolinker.link(n.textContent);
                    if (newText == n.textContent) {
                        continue;
                    }
                    const fragment = document.createRange().createContextualFragment(newText);
                    n.replaceWith(fragment);
                    // console.log("replace fragment", fragment);
                } else {
                    linkify(n);
                }
            }
        }

        const messageContentObserver = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    const messageContent = entry.target;
                    linkify(messageContent);
                    messageContent.classList.add("updated");
                    messageContentObserver.unobserve(messageContent);
                }
            });
        });

        function observeNewMessageContent() {
            const messageContents = document.querySelectorAll(`.messageContent:not(.updated)`);

            messageContents.forEach(messageContent => {
                messageContentObserver.observe(messageContent);
            });
        }

        observeNewTime();
        observeNewMessageContent();
    </script>
</body>

</html>